# folders
__pycache__
.ipynb_checkpoints
results
corpora/*MAFAULDA*
corpora/*MIMII*
data
models
runs

# files
*.csv
*.npy
*.npz
*.pdf
*.png
*.pth
*.txt
mafaulda_subclasses_cascade.ipynb
mimii*
run_*
test*.ipynb

# temporary files and folders
*tmp*